<template name="singleBoard">


<h2>{{ board.title }}</h2>


{{> colorSelectBox }}

<button data-action="addColor">Add a color</button>

<ul class="swatch-list">
	{{#each colors}}
	<li class="swatch-item swatch-{{_id}}">
		<span class="swatch-block" style="background: {{ color }}"></span>
		<span class="swatch-info">
			{{ formattedColor }}<br> 
			Created: {{ formattedDate }}<br> 
			By: {{creator}}<br>
			{{ ../board.title }}<br>
		</span>
	</li>
	{{else}}
	<li>No colors</li>
	{{/each}}
</ul>

</template>
