<template name="singleBoard">

<div class="main-block">

<h2>{{ board.title }}</h2>


{{> colorSelectBox }}

<button data-action="addColor">Add a color</button>

</div>

<ul class="swatch-list">
	{{#each colors}}
	<li class="swatch-item swatch-{{_id}} {{ showColor }}">
		<span class="swatch-block" style="background: {{ color }}"></span>
		<span class="swatch-info {{ textColorClass }}">
			{{ formattedColor }}<br> 
			Created: {{ formattedDate }}<br> 
			By: {{creator}}<br>
			{{ ../board.title }}<br>
			isLight: {{ isLight }}<br>
			isDark: {{ isDark }}<br>
		</span>
	</li>
	{{else}}
	<li>No colors</li>
	{{/each}}
</ul>

</template>
