

@mixin transition( $transition... ) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	-ms-transition: $transition;
	transition: $transition;
}



.color-select-box {
	width: 300px;
	height: 300px;
	display: block;
	position: relative;
	margin: 1em;
	background: rebeccaPurple;
	cursor: crosshair;

	&:after {
		content: '';
		cursor: pointer;
		position: absolute;
		border-radius: 5px;
		border: 10px solid #FFF;
		box-shadow: 0 0 0 1px #434343;
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
		z-index: -1;
	}
}

.swatch-list {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
}

.swatch-item {
	display: inline-block;
	margin: 5px;
	position: relative;
}

.swatch-block {
	display: inline-block;
	width: 5em;
	height: 5em;
	border: 5px solid #fff;
	box-shadow: 0 0 0 1px #434343;
	border-radius: 3px;

}

.swatch-info {
	background: rgba(255,255,255,.92);
	padding: 8px;
	position: absolute;
	bottom: 50%;
	left: 50%;
	z-index: 3;
	border-radius: 3px;
	box-shadow: 0 0 4px 0 #434343;

	opacity: 0;
	visibility: hidden;
	min-width: 10.1em;
	min-height: 5.1em;
	transform: scale(1.1);

	@include transition( 
		all 			 0.1s ease-in-out 0.1s,
		visibility 0.1s ease-in-out 0.1s, 
		opacity		   0s ease-in-out
	);

	.swatch-item:hover & {
		opacity: 1;
		visibility: visible;
		min-width: 10em;
		min-height: 5em;
		transform: scale(1);
	}
}
