body {
	margin: 0;
}


@mixin transition( $transition... ) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	-ms-transition: $transition;
	transition: $transition;
}


.main-block {
	width: 75%;
	min-height: 100%;
	position: relative;
}


.swatch-list {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 25%;
	overflow-y: scroll;
	overflow-x: visible;
}

.swatch-item {
	display: block;
	position: relative;
	width: 100%;
	min-height: 100px;

	&:hover,
	&.show-color-info {
		min-height: 200px;
	}
}

.swatch-block {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.swatch-info {
	display: block;
	color: white;
	z-index: 2;
}




.color-select-box {
	width: 300px;
	height: 300px;
	display: block;
	position: relative;
	margin: 1em;
	background: rebeccaPurple;
	cursor: crosshair;

	&:after {
		content: '';
		cursor: pointer;
		position: absolute;
		border-radius: 5px;
		border: 10px solid #FFF;
		box-shadow: 0 0 0 1px #434343;
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
		z-index: -1;
	}
}
